@using ServiceLibrary
@model IEnumerable<ServiceLibrary.Room>

@{
    Layout = null;
}

@helper RoomInfoRow(Room room)
{
    <div class="row justify-content-around standart-form-text">
        <span class="col-4">
            <strong>Номер комнаты: </strong> @room.Numder</span>
        <span class="col-4">
            <strong>Количество мест: </strong>@room.CountOfPlaces</span>
        <span class="col-4">
            <strong>Класс комнаты: </strong>@room.ClassRoom.Name</span>
    </div>
}

<div class="block-with-different-rooms">
    @if ((int) ViewData["RoomTypeNumber"] == 1)
    {
        <h2>Свободные номера</h2>

        foreach (Room room in Model)
        {
            <div class="bg-light mb-3 pl-2 pb-2 pt-2 rounded">
                @RoomInfoRow(room)

                @{
                    Booking booking = room.Bookings.OrderBy(b => b.DateStart).FirstOrDefault(b => b.DateStart > DateTime.Now);
                    string result = booking?.DateStart.ToString("d") ?? "-";
                }

                <div>Свободен до: @result</div>
            </div>
        }
    }
    else if ((int) ViewData["RoomTypeNumber"] == 2)
    {
        <h2>Занятые номера номера</h2>


        foreach (Room room in Model)
        {
            <div class="bg-light mb-3 pl-2 pb-2 pt-2 rounded">
                @RoomInfoRow(room)
                @{
                    Booking booking = room.Bookings.OrderBy(b => b.DateEnd).FirstOrDefault(b => b.DateEnd > DateTime.Now);
                    string result = booking?.DateStart.ToString("d") ?? "-";
                }

                <div>Занят до: @result</div>
            </div>
        }
    }
    else if ((int) ViewData["RoomTypeNumber"] == 3)
    {
        <h2>Забронированные номера</h2>

        foreach (Room room in Model)
        {
            <div class="bg-light mb-3 pl-2 pb-2 pt-2 rounded">
                @RoomInfoRow(room)
                <div class="row justify-content-center mt-3">
                    <table class="col-9 text-center table table-info table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th scale="col">Дата приезда</th>
                            <th scale="col">Дата отъезда</th>
                        </tr>
                        </thead>

                        @{
                            List<Booking> bookings = room.Bookings.Where(b => b.DateStart > DateTime.Now).ToList();
                        }
                        <tbody>
                        @foreach (Booking booking in bookings)
                        {
                            <tr>
                                <td>@booking.DateStart</td>
                                <td>@booking.DateEnd</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
    else if ((int) ViewData["RoomTypeNumber"] == 4)
    {
        <h2>Недоступные номера</h2>
        foreach (Room room in Model)
        {
            <div class="bg-secondary mb-3 pl-2 pb-2 pt-2 rounded">
                @RoomInfoRow(room)
            </div>
        }
    }
</div>