@model HotelEpam.Models.UserRegistration

@{
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<section id="authorize-section" class="row align-items-center justify-content-center">
    <div class="col-7 bg-light pt-3 pb-2 mb-5 rounded">

        <h3 class="h3 text-center mb-5">Регистрация</h3>

        @using (@Html.BeginForm())
        {
            <div class="row">
                <div class="col-6">
                    <div class=" form-group row">
                        @Html.LabelFor(model => model.FirstName, new {@class = "col-5 pl-5"})
                        @Html.TextBoxFor(model => model.FirstName, new {@class = "col-6 form-control"})
                        <div class="col-11 text-right">
                            @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "validation-error-text"})
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class=" form-group row">
                        @Html.LabelFor(model => model.SecondName, new {@class = "col-5 pl-5"})
                        @Html.TextBoxFor(model => model.SecondName, new {@class = "col-6 form-control"})
                        <div class="col-11 text-right">
                            @Html.ValidationMessageFor(model => model.SecondName, "", new {@class = "validation-error-text"})
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class=" form-group row">
                        @Html.LabelFor(model => model.Login, new {@class = "col-5 pl-5"})
                        @Html.TextBoxFor(model => model.Login, new {@class = "col-6 form-control"})
                        <div class="col-11 text-right">
                            @Html.ValidationMessageFor(model => model.Login, "", new {@class = "validation-error-text"})
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class=" form-group row">
                        @Html.LabelFor(model => model.Email, new {@class = "col-5 pl-5"})
                        @Html.TextBoxFor(model => model.Email, new {@class = "col-6 form-control"})
                        <div class="col-11 text-right">
                            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "validation-error-text"})
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class=" form-group row">
                        @Html.LabelFor(model => model.DateOfBirth, new {@class = "col-5 pl-5"})
                        @Html.TextBoxFor(model => model.DateOfBirth, new {@class = "col-6 form-control", type = "date"})
                        <div class="col-11 text-right">
                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new {@class = "validation-error-text"})
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <div class=" form-group row">
                        @Html.LabelFor(model => model.Password, new {@class = "col-5 pl-5"})
                        @Html.TextBoxFor(model => model.Password, new {@class = "col-6 form-control", type = "password"})
                        <div class="col-11 text-right">
                            @Html.ValidationMessageFor(model => model.Password, "", new {@class = "validation-error-text "})
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class=" form-group row">
                        @Html.LabelFor(model => model.ConfirmPassword, "Подтверждение пароля", new {@class = "col-5 pl-5"})
                        @Html.TextBoxFor(model => model.ConfirmPassword, new {@class = "col-6 form-control", type = "password"})
                        <div class="col-11 text-right">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "validation-error-text"})
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class=" form-group col-12 text-center">
                    @Html.CheckBoxFor(model => model.PrivacyPolicy, new {id = "privacy-policy-check"})
                    @Html.LabelFor(model => model.PrivacyPolicy, "Я принимаю условия политики конфиденциальности")
                </div>
            </div>
            <div class="row mb-4">
                <div class="col text-center">
                    <input id="registration-btn" disabled="disabled" class=" btn btn-success col-4" type="submit" value="Зарегистрироваться"/>
                </div>
            </div>
        }

        <div class="text-center col-12 mb-2">
            Если вы уже зарегистрированы, то просто
            @Html.ActionLink("Авторизируйтесь", "Authorization",new{},new{@class="badge badge-dark text-light"})
        </div>
    </div>
</section>